<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastFoodie</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>FastFoodie</h1>
    </header>
<main>
    <section id="restaurants">
        <ul>
            <li><a href="#" onclick="showRestaurantinfo">Restaurant 1</a>
            <li><a href="#" onclick="showRestaurantinfo">Restaurant 2</a>
            <li><a href="#" onclick="showRestaurantinfo">Restaurant 3</a>
            </li>
        </ul>
    </section>
    <footer>
        <p>&copy; 2024 FastFoodie. All rights reserved</p>
    </footer>
</main>
<script src="script.js"></script>
</body>
</html>